.hoverColor1:hover,
.hoverColor:hover {
	background-color: #3b4750;
}

.drawerFooter {
	font-family: "Times New Roman", Times, serif;
}
/*-----------Default ---------- */
.contentDefault {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background-color: gray;
}
.servicesProf {
	overflow: auto;
	max-height: 200px;
}
