.contentTest {
	display: flex;
	gap: 20px;
	border: none;
	border-radius: 15px;
	padding-top: 15px;
}

.modal-header {
	border-bottom: none;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: #33364d;
}

.modal-title {
	color: white;
	font-weight: 600;
}

.modal-footer {
	border-top: none;
}
.text-container {
	text-align: center;
	max-width: 400px;
	margin: auto;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	color: #6f7077;
}
.titleHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
}
.modalTest {
	display: flex;
	flex-direction: row;
}
.editText {
	border: none;
	border-radius: 5px;
	background-color: #dcdde0;
	height: 50px;
}
/* Dans votre fichier CSS (suppose que vous utilisez CSS pur) */
.contentTest {
	background-color: "#dadde0";
	width: 100%; /* prend toute la largeur disponible par défaut */
	max-width: 1200px; /* largeur maximale que le container peut prendre */
	margin-right: auto; /* centre le container horizontalement */
	margin-left: auto; /* centre le container horizontalement */
}

/* Media queries pour les écrans plus petits */
@media (max-width: 1199px) {
	.contentTest {
		width: 90%; /* prend 90% de la largeur disponible sur les écrans plus petits */
	}
}

@media (max-width: 991px) {
	.contentTest {
		width: 85%; /* prend 85% de la largeur disponible sur les écrans moyens */
	}
}

@media (max-width: 767px) {
	.contentTest {
		width: 80%; /* prend 80% de la largeur disponible sur les petits écrans */
	}
}

@media (max-width: 575px) {
	.contentTest {
		width: 95%; /* prend 95% de la largeur disponible sur les très petits écrans */
	}
}
.buttonColor {
	background-color: #40b9af;
}
