<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="src/main.ts" verb="*" modules="iisnode"/>
        </handlers>
        <rewrite>
            <rules>
                <rule name="NodeInterceptor" stopProcessing="true">
                    <match url=".*"/>
                    <conditions logicalGrouping="MatchAll">
                        <add input="{{REQUEST_FILENAME}}" matchType="IsFile" negate="true"/>
                        <add input="{{REQUEST_FILENAME}}" matchType="IsDirectory" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="src/main.js"/>
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <remove segment="bin"/>
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
