.body {
	background-color: white;
}

.containerTable {
	display: flex;
	gap: 20px;
	border: none;
	border-radius: 15px;
	padding-top: 30px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	overflow: auto;
}

.buttons {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: center;
}
.tableHeader {
	display: flex;
	flex-direction: column;
}

.upload-btn {
	display: inline-block;
	position: relative;
	padding-top: 15px;
}

.custom-file-upload {
	display: inline-block;
	padding: 10px 20px;
	background-color: #66717c;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.custom-file-upload:hover {
	background-color: #0b0f13;
}

.icon {
	vertical-align: middle;
	margin-right: 5px;
}
#file-upload {
	display: none;
}
.custom-file-label {
	display: none;
}

.tableScroll {
	overflow-y: auto;
	max-height: 60vh;
}

.sticky-header {
	position: sticky;
	top: 0;
	background: white;
	z-index: 1020;
}

.headerDashboard {
	display: flex;
	flex-direction: row;
	gap: 8%;
	justify-content: center;
	align-items: center;
}
.descripText {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;

	text-align: center;
	max-width: 25%;
	margin: auto;

	color: #6f7077;
}
.addButton {
	display: flex;
	gap: 20px;
}

/* ---------------- Editing radious ---------------*/

.descripEdit {
	border: none;
	border-radius: 5px;
}

.buttonModiSave {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #40b9af;
	border: none;
}

.loader {
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid blue;
	width: 20px;
	height: 20px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
