.contentFooter {
	padding-bottom: 20px;
	background-color: #3991b4;
	margin-bottom: 0;
}

.footerContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contentTitle {
	font-weight: 600;
	color: white;
}
@media (max-width: 768px) {
	.footerSize {
		font-size: 2.3vw;
	}
	.footerSize a {
		display: block;
	}
	.contentTitle {
		font-weight: 600;
		color: white;
		font-size: 4vw;
	}
	.footerContent {
		font-size: 2.3vw;
	}
}
