.home-container {
	overflow-x: hidden;
}

.main-banner {
	background-image: url("../../Assets/Home/BB.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	text-align: center;
	display: flex;

	align-items: center;
	color: white;
}

.homeHeader {
	border-left: 5px solid #0bb6e0;
	padding-left: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
	padding: 20px;
}

.titleHeaderHome {
	color: #0bb6e0;
	font-family: "Georgia, serif";
	font-size: 3.2rem;
	margin-bottom: 0.5em;
}
.descripHeader {
	font-size: 1.8rem;
	font-weight: normal;
	width: 1200px;
	text-align: left;
	line-height: 1.6;
}

@media (max-width: 768px) {
	.titleHeaderHome {
		font-size: 6vw;
	}
	.descripHeader {
		font-size: 4vw;
		font-weight: normal;
		width: 95%;
		text-align: left;
		line-height: 1.6;
	}
	.homeHeader {
		padding: 10px;
	}
}

.bodyAbout {
	background-color: #ebe8e8e7;
	padding-top: 10px;
	padding-bottom: 80px;
	margin-top: 35px;
}

.service-section {
	padding-bottom: 20px;
	text-align: center;
}

.service-section h2 {
	font-size: 1.5rem;
	margin-bottom: 15px;
}

.service-section p {
	margin-bottom: 30px;
}

.about-section {
	border: none;
	border-radius: 15px;
	padding-top: 50px;
}

.about-section .about-text {
	margin-bottom: 30px;
}

.about-section h2 {
	font-size: 2rem;
	margin-bottom: 20px;
}

.service-box {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-section p {
	margin-bottom: 15px;
}

.about-image img {
	width: 100%;
	height: auto;
	border-radius: 60%;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: #3991b47c;
	border-radius: 1px;
}

::-webkit-scrollbar-thumb {
	background: #51afd4;
	border-radius: 10px;
}
@media (max-width: 768px) {
	.about-section {
		width: 80%;
		padding: 10px;
	}

	.about-text,
	.about-image {
		flex-basis: 100%;
		padding: 10px;
	}

	.about-text {
		order: 2;
	}

	.about-image img {
		width: 100%;
		max-width: 100%;
	}
}
