.main-banner {
	background-image: url("../../Assets/Home/BB.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	text-align: center;
	display: flex;
	align-items: center;
	color: white;
}

.vertical-line {
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding-left: 30px;
	border-left: 3px solid #5c9b9e;
	height: 100%;

	font-family: cursive;
	text-align: left;
}

.bodyAbout {
	background-color: #ebe8e8e7;
	padding-top: 10px;
	padding-bottom: 80px;
	margin-top: 35px;
}

.service-section {
	padding-bottom: 20px;
	text-align: center;
}

.service-section h2 {
	font-size: 1.5rem;
	margin-bottom: 15px;
}

.service-section p {
	margin-bottom: 30px;
}

.about-section {
	border: none;
	border-radius: 15px;
	padding-top: 50px;
}

.about-section .about-text {
	margin-bottom: 30px;
}

.about-section h2 {
	font-size: 2rem;
	margin-bottom: 20px;
}

.service-box {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-section p {
	margin-bottom: 15px;
}

.about-image img {
	width: 100%;
	height: auto;
	border-radius: 60%;
}

/* .service-box {
	border: 1px solid #ddd;
	padding: 2px;
	border-radius: 10px;
	border: none;
	background-color: rgb(67, 217, 236);
} */
/* Style pour les navigateurs basés sur WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: #3991b47c;
	border-radius: 1px;
}

::-webkit-scrollbar-thumb {
	background: #51afd4;
	border-radius: 10px;
}
