.login-page,
.login-page body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

.login-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #3759667c;
	background-image: url("../../Assets/Login/bg.avif");
}

.logo-container img {
	width: 160px;
	height: auto;
}

.ContLogin {
	display: flex;
	border: none;
	border-radius: 15px;
	width: 560px;
	padding: 4%;
	margin-top: 10px;
	background-color: #33364d;
	color: aliceblue;
}

.inputForm {
	width: 350px;
}

/* import React, { useState } from 'react';
import { useNavigate } from 'react-router-dom';
import jwtDecode from 'jwt-decode';

const LoginPage = () => {
  const [email, setEmail] = useState('');
  const [password, setPassword] = useState('');
  const navigate = useNavigate(); // Remplacez useHistory par useNavigate

  const handleLogin = async () => {
    try {
      const response = await fetch('http://localhost:3000/auth/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ email, password }),
      });
      const data = await response.json();
      if (response.ok) {
        localStorage.setItem('token', data.access_token);
        const user = jwtDecode(data.access_token);
        redirectUser(user.roleName);
      } else {
        alert('Login failed: ' + data.message);
      }
    } catch (error) {
      console.error('Login error:', error);
    }
  };

  const redirectUser = (role) => {
    if (role === 'Admin') {
      navigate('/admin');
    } else if (role === 'Teacher') {
      navigate('/teacher');
    } else if (role === 'Student') {
      navigate('/student');
    }
  };

  return (
    <div>
      <h1>Login</h1>
      <input
        type="email"
        placeholder="Email"
        value={email}
        onChange={(e) => setEmail(e.target.value)}
      />
      <input
        type="password"
        placeholder="Password"
        value={password}
        onChange={(e) => setPassword(e.target.value)}
      />
      <button onClick={handleLogin}>Login</button>
    </div>
  );
};

export default LoginPage; */
