.login-page,
.login-page body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

.login-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #3759667c;
	background-image: url("../../Assets/Login/bg.png");
}

.logo-container img {
	width: 160px;
	height: auto;
}

.ContLogin {
	display: flex;
	border: none;
	border-radius: 15px;
	width: 40%;
	padding: 4%;
	margin-top: 10px;
	background-color: #33364d;
	color: aliceblue;
}

.inputForm {
	width: 350px;
}
@media (max-width: 768px) {
	.login-page .Form.Label {
		font-size: 14px;
	}
	.login-page .Form.Control {
		font-size: 14px;
	}
	.login-page .btn {
		padding: 10px 0;
	}
	.ContLogin {
		width: 90%;
	}
	.inputForm {
		width: 100%;
	}
}
